.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: blanchedalmond;
    border-radius: 40px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: crimson;
}
.buy-it{
    color: rgb(71, 3, 3);
}